.detail-back{
    background-image:url("../images/zhengtao-tang-lFHPiO7OFWE-unsplash.jpg");
    background-size: cover;
    min-width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
}

.fred{
    background-image: url("../images/narubono-iQ340YfGupw-unsplash.jpg");
}

#Sean{
    background-image:url("../images/zhengtao-tang-lFHPiO7OFWE-unsplash.jpg");
    color:white;
}